<h2>Authors</h2>
<ul>
    <li *ngFor="let author of authors">
        {{ author.name }} - Status: {{ author.status }}
    
        <!-- Show 'Activate' button if the author is inactive -->
        <button *ngIf="author.status === 'inactive'" (click)="updateAuthorStatus(author.id, 'active')">Activate</button>
    
        <!-- Show 'Deactivate' button if the author is active -->
        <button *ngIf="author.status === 'active'" (click)="updateAuthorStatus(author.id, 'inactive')">Deactivate</button>
      </li>
</ul>

<h2>Books</h2>
<div *ngIf="books && books.length > 0">
    <div *ngFor="let book of books">
      <h3>{{ book.title }}</h3>
      <img [src]="'http://127.0.0.1:8000/storage/' + book.cover_image" alt="{{ book.title }}" width="100" />
      <p>Book ID: {{ book.id }}</p>
      <p>Author: {{ book.user.name }}</p> <!-- Displaying author's name -->
      <p>Author ID: {{ book.user_id }}</p> <!-- Displaying author's ID -->
      <p>Created At: {{ book.created_at | date:'dd MMMM yyyy HH:mm:ss'}}</p>
    </div>
  </div>
  
  
  <div *ngIf="books && books.length === 0">
    <p>No books available.</p>
  </div>
  
