<div class="container mt-4">

<h1>Author Dashboard</h1>  <br><br>
<br>
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<!-- Error message -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
  <h3>Authors</h3>
  <ul class="list-group mb-4">
    <li *ngFor="let author of authors" class="list-group-item d-flex justify-content-between align-items-center">
     <b>{{ author.name }}</b>  - Status: {{ author.status }}
      <div>
         
        <button *ngIf="author.status === 'inactive'" class="btn btn-success btn-sm" (click)="updateAuthorStatus(author.id, 'active')">
          Activate
        </button>
        
         
        <button *ngIf="author.status === 'active'" class="btn btn-danger btn-sm" (click)="updateAuthorStatus(author.id, 'inactive')">
          Deactivate
        </button>
      </div>
    </li>
  </ul>

  <h3>Books</h3>
  <div class="row">
  <div *ngFor="let book of books" class="col-md-4 mb-2">
    <div class="card">
      <img
        *ngIf="book.cover_image"
        [src]="'http://127.0.0.1:8000/storage/' + book.cover_image"
        alt="{{ book.title }}"
        class="card-img-top"
        style="height: 200px; object-fit: cover;"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <span>BookId : {{ book.id }}</span><br/>
        <span>Author : {{ book.user?.name }}</span><br/>
        <span>Book Added Date : {{ book.created_at | date:'dd MMMM yyyy HH:mm:ss' }}</span>
      </div>
    </div>
  </div>
</div>
  <div *ngIf="books && books.length === 0">
    <p>No books available.</p>
  </div>
</div>
