<div class="container mt-4">
  <h1>Author Dashboard</h1>  

  <!-- Menu -->
  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedMenu === 'list-books'"
        (click)="switchMenu('list-books')"
        >List Books</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedMenu === 'add-book'"
        (click)="switchMenu('add-book')"
        >Add Book</a
      >
    </li>
  </ul>
  
  
  <div *ngIf="selectedMenu === 'list-books'">
    <h2>Books List</h2>
    <div class="row">
      <div *ngFor="let book of books" class="col-md-4 mb-3">
        <div class="card">
          <img
            *ngIf="book.cover_image"
            [src]="'http://127.0.0.1:8000/storage/' + book.cover_image"
            alt="{{ book.title }}"
            class="card-img-top"
            style="height: 200px; object-fit: cover;"
          />
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <span>BookId : {{ book.id }}</span><br/>
            <span>Author : {{ book.user?.name }}</span><br/>
            <span>Book Added Date : {{ book.created_at | date:'dd MMMM yyyy HH:mm:ss' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div *ngIf="selectedMenu === 'add-book'">
    <h2>Add New Book</h2>
    <form (ngSubmit)="addBook()" class="mb-4">
      <div class="mb-3">
        <input
          type="text"
          [(ngModel)]="newBookTitle"
          name="title"
          placeholder="Book Title"
          required
          class="form-control"
        />
      </div>
  
       
      <div class="mb-3">
        <label>Cover Image</label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
  
    <!-- Success message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  
    <!-- Error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
